.wholeApp{
    background: #78a175;
}

.topSection{
    display: flex;
    height: 300px;
}

.bottomSection{
    display: flex;
    height: 400px;   
}

.date{
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding-left: 10px;
}