.factStyle{
    border: 2px solid white;    
    width: 25%;
    border-radius: 4px;
    margin: 20px;
    overflow: scroll;
}

.factHeader{
    color: white;
    padding-left: 10px;
}

.headerDiv{
    border: 1px solid white;
}

.trivia{
    color: white;
}

.factDiv{
    border: 1px solid white;
    padding: 10px;

}