.memoryStyle{   
    width: 40%;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.memoryImage{
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    width: 230px;
    height: 230px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}