.musicStyle{
    border: 2px solid white;
    border-radius: 4px;
    margin: 20px;
    width: 20%;
    overflow: scroll;
}

.musicHeader{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.musicHeaderText{
    color: white;
}

.musicInput{
    width: 75%;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.musicItem{
    border: 1px solid white;    
    color: white;
    padding: 10px;
    overflow: scroll;
    display: flex; 
    flex-direction: row;
}

.image{
    width: 50px; 
    height: 50px;
}

.addButton{
    border-radius: 4px;
    background-color: yellow;
}

.clearAll{
    position: relative; 
    left: 120px;
}

.Buttons{
    position: absolute; 
    left: 520px;
}

.text{
    width: 20%;
}


.innerDiv{
    display: flex;
    flex-direction: row;
}