.peopleStyle{
    border: 1px solid white;
    border-radius: 4px;
    margin: 20px;
    width: 20%;
}

.peopleHeader{
    border: 1px solid white;
}

.peopleHeaderText{
    color: white;
}

.peopleInput{
    width: 95%;
    background: lightgrey;
}

.image{
    width: 50px;
    height: 50px;
}

.peopleItem{
    border: 1px solid white;
    color: white;
}