.tasksStyle{
    border: 1px solid white;
    border-radius: 4px;
    margin: 20px;
    width: 20%;
    overflow: scroll;
}

.tasksHeader{
    border: 1px solid white;
}

.tasksHeaderText{
    color: white;
}

.tasksInput{
    width: 85%;
    background: lightgrey;
}

.taskItem{
    border: 1px solid white;
    color: white;
}