.weatherStyle{
    border: 1px solid white;
    width: 15%;
    border-radius: 4px;
    margin: 20px;
}

.weatherHeader{
  color: white;
}

.headerBox{
  padding-left: 10px; 
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}

.zipCode{
  color: white;
  margin-left: 10px;
}

.country{
  color: white;
  margin-left: 10px;
}

.city{
  color: white;
  text-align: center;
}

.temperature{
  color: white;
  text-align: center;
}

.image{
  width: 50px;
  height: 50px;
}

.zipCodeInput{
  border-radius: 4px;
  margin-top: 10px;
  width: 100px;
}

.countryInput{
  border-radius: 4px;
  margin-top: 10px;
  width: 100px;
}

.goButton{
  margin-left: 10px;
  border-radius: 4px;
}